
.articles-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 4rem;
  padding-top: 1rem;
}

.article {
  display: flex;
  align-items: center;
  text-align: left;
  background: none;
}

.article-logo {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.article-content {
  margin: 0;
}

.article-date {
  margin: 0;
  font-size: 14px;
  color: #bbb;
}

.article-title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.article-title a {
  color: rgb(72, 195, 204);
  text-decoration: none;
}

.article-title a:hover {
  text-decoration: underline;
}
