.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: none;
  border-bottom: 2px solid #ccc;
}

.nav-logo {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

.nav-links-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: rgb(72, 195, 204);
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}
